:root {
  --dark: black;
  --light: white;
  --blue: #17274e;
  --purple: #2b1941;
  --transparent: rgba(255, 255, 255, 0);
  --hover: #42c505;
  --hover2: #019e55;
  --resonateColour: #c73362;
  --gradient1: #000000;
  --gradient2: #ffffff;
}

.active {
  color: var(--green);
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  box-sizing: border-box;
  background-color: var(--dark);
  width: 100%;
  padding-bottom: 100px;
  min-height: 100vh;
  backdrop-filter: blur(5px);
  font-family: "Monac";
  color: var(--light);
}

.btn,
.btn-primary {
  color: var(--light);

  background-color: var(--dark);
  border: 0;
  outline: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
}

.btn:hover {
  color: var(--light);
  background-image: linear-gradient(45deg, var(--hover), var(--hover2));
  background-color: var(--hover2);
  outline: 3px solid var(--hover2);
  font-weight: 500;
}

.card {
  background-color: var(--dark);
  border: 0;
  color: var(--light);
  justify-content: space-between;
  display: flex;
  outline: 2px solid rgba(255, 255, 255, 0.3);
  min-width: 350px;
  flex-shrink: 1;
}

.card .photoStyle {
  padding: 5px;
  border-radius: 50%;
  transition: border-radius 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card .icon {
  color: var(--hover);
}

.card:hover .photoStyle {
  border-radius: 5px;
}

.card:hover .icon {
  color: var(--light);
}

.card:hover .icon:hover {
  color: var(--dark);
  text-decoration: none;
}

.card-title {
  text-align: center;
}

.cardTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0;
}

.cardTopRight {
  font-weight: 500;
  margin: auto;
  width: 50%;
  font-size: 20px;
  word-wrap: normal;
  padding: 10px;
}

.fa-solid {
  font-size: 25px;
  padding-right: 5px;
}

footer {
  background-color: var(--transparent);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(100px);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 50px;
  padding: 5px;
  color: var(--light);
}

footer .icon:hover {
  color: var(--hover2);
}

.form-control {
  float: right;
}

h1 {
  color: var(--light);
}

.icon {
  padding-left: 10px;
  color: linear-gradient(to right, #006175 0%, #00a950 100%);
  font-size: 30px;
  /*color: var(--light);*/
}

.imgContainer {
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: var(--light);
}

nav {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  font-size: large;
  color: var(--light);
  backdrop-filter: blur(50px);
  font-weight: 500;
  width: 100vw;
}

.navbar-brand,
.nav-item .nav-link {
  color: var(--light);
  text-decoration: none;
}

.nav-item .nav-link {
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler-icon {
  background-color: var(--light);
}

.navbar-brand:hover {
  color: var(--hover);
  text-decoration: none;
}

.photoStyle {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  flex-shrink: 2;
  width: 128px;
  height: 128px;
  width: auto;
  height: auto;
}
