:root {
  --hover: #44970c;
  --hover2: #0a7524;
}

.card:hover {
  transition: outline 0.2s ease-in-out background-color 1s ease-in-out;
  outline: 4px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(45deg, var(--hover), var(--hover2));
}

@media (max-width: 576px) {
  .card {
    padding: 0;
    margin: 0;
  }
}
